body {
	background-color: #AEC6CF;
}

header {
	width: 1260px;
	height: 80px;
}

section {
	width: 900px;
	min-height: 768px;
	margin: 0 auto;
	text-align: center;
}

#clock {
	display: inline-block;
	font-size: 10em;
	font-weight: 100;
	font-family: 'Bebas Neue','Open Sans', sans-serif;
	color: #fff;
	
}

section p {
	display: inline-block;
}

#secs {
	font-size: 1em;
}